<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122664597171-gb438th08opffte2gestsdtltgrlcpgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122664597171-gb438th08opffte2gestsdtltgrlcpgt</string>
	<key>API_KEY</key>
	<string>AIzaSyC6g-YlzMtYE40zV4zI48Ib_Vat1wXPueE</string>
	<key>GCM_SENDER_ID</key>
	<string>122664597171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.heartapp</string>
	<key>PROJECT_ID</key>
	<string>myheart-2e398</string>
	<key>STORAGE_BUCKET</key>
	<string>myheart-2e398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122664597171:ios:a141cd5a694e4161e6e2c6</string>
</dict>
</plist>